# Node modules
node_modules/

# Android build and local configs
.gradle/
local.properties
/build/
/android/app/build/
/android/.gradle/
/android/local.properties
# iOS build and pods
ios/Pods/
ios/build/
*.xcworkspace

# System files
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
